<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" align="center">
    <h1>CONSUMO DE API-DOGS</h1>
    <span *ngIf="showError">{{msjError}} </span>
    <ion-item>
        <ion-label position="floating">Cantidad de imagenes</ion-label>
        <ion-input type="number" (keyup)="getImages($event)"></ion-input>
    </ion-item>
    <ion-grid>
        <ion-row *ngIf="picOnly">
            <ion-col class="galleryPic" *ngFor="let intro of introGallery" size="6">
                <img [src]="intro.url" alt="Perritos aleatorios" />
                <ion-button fill="outline" shape="round" (click)="saveFavorite(intro)">
                    <ion-icon name="star"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="!picOnly">
            <ion-col class="galleryPic" *ngFor="let img of limitImages" size="6">
                <img [src]="img.url" alt="Galeria de imagenes de perritos" />
                <ion-button fill="outline" shape="round" (click)="saveFavorite(img)">
                    <ion-icon name="star"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-button (click)="getData()" expand="full" shape="round" fill="outline">
        Recargar
    </ion-button>
</ion-content>