<ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">
        <ion-tab-button tab="ranDogs">
            <ion-icon name="shuffle"></ion-icon>
            <ion-label>Random Dogs</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="favDogs">
            <ion-icon name="bookmark"></ion-icon>
            <ion-label>Favorites</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="uploadPic">
            <ion-icon name="cloud-upload"></ion-icon>
            <ion-label>Upload</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>